Language/C#/Example/.vs
Language/C#/Example/.vscode
Language/C#/Example/Example/bin
Language/C#/Example/Example/obj

Framework/WinAPI/Example/.vs
Framework/WinAPI/Example/.vscode
Framework/WinAPI/Example/Example/bin
Framework/WinAPI/Example/Example/obj